body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #f4f4f4;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    min-height: 100vh;
    background:linear-gradient(145deg, #00a138, #1200ff);
    padding: 10px;
}

.Volume{    
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #6b6b6b;
    border-radius: 10px;
    padding: 30px;
    text-align: center;
}

h1 {
    font-size: 23px;
    color: #a50000;
}

.form-container {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

select, input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

#dimension-inputs{
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    margin-right: 20px;
}

button {
    padding: 10px 20px;
    background-color: #301798;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
    margin-top: 20px;
}

button:hover {
    background-color: #112167;
}

#result {
    max-width: 400px;
    margin: auto;
    background: #d9d9d9;
    border-radius: 20px;
    padding-top: 30px;
    padding: 20px;
    text-align: center;
    font-weight: 15px;
}
